* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

header {
  height: 75px;
  background-color: aquamarine;
  align-content: center;
}

.border-dash {
  border: 2px dashed black;
}

.container#top {
  display: flex;
  background-color: #cc1414;
  height: 50px;
}

.container#top .logo {
  width: 25%;

}

.container#top .links {
  width: 50%;
}

.container#top .login {
  width: 25%;
}